body {
    background-color: #f5f5f5;
  }
  .container {
    margin-top: 50px;
  }
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
  }
  form label {
    font-weight: bold;
    color: #333333;
  }
  form .form-control {
    border-radius: 0px;
  }
  form button {
    margin-top: 20px;
    border-radius: 0px;
  }
  